.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-right {
  margin-left: -23px;
}

.container-top {
  margin-top: 1px;
}

.animal {
  position: absolute;
}

.guide {
  position: absolute;
  border: 2px solid black;
  border-radius: 20em;
  z-index: -1;
}

.guide-one-step {
  width: 170px;
  height: 170px;
}

.guide-three-steps {
  width: 500px;
  height: 500px;
}

.mark {
  position: absolute;
  font-size: 36px;
  text-shadow: 0 0 10px #fff;
  font-weight: bolder;
}